<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Anasayfa</title>
</head>
<body>
    <h1>Anasayfa</h1>
    <h2 class="subtitle">İklim Değişikliğine Birlikte Savaşalım!</h2>

    <a href="/image">
        <h1 style="margin-top: 15%;">İklim Değişikliğinin Çeşitli Etkileri</h1>
    </a>

    <p>
        You can upload an image showing an outdoor area, and the Artificial Intelligence will tell you which kind of effect of climate change is your image and how to solve that type of climate change specifically.
        <br/><br>Feel free to go ahead and use the specially hand-crafted Artificial Intelligence model to learn how to solve the effect of climate change in the image.
        <br/><br/>Your Artificial Intelligence model will give you a personal answer to you specially. It will be as helpful as possible to you!
    </p>

    <h2><a href="/forums">Forums</a></h2>
    <p>
        The Forums allow you to be heard among the Climate Change community. You can explain your situation to the Web Climate Change Community and tell others about ALL of the incredible valuable single words of your.
    </p>
</body>
</html>